# Core ML & NLP
pandas
numpy
scikit-learn
nltk
spacy
gensim
imbalanced-learn
contractions
emoji
pyspellchecker

# Visualization
matplotlib
seaborn
wordcloud

# API
fastapi
uvicorn

# Web App
streamlit

# Utility
joblib
